<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>
    <!--ariel ws-->
    <script src="../../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"></script>
    <script>
      var socket = io.connect();
      function setWs() {
        socket.on('newdata', function (msg) {
          var element = document.getElementById(msg.District);
          element.innerText = msg.value;
        })
      }
    </script>
    <!--ariel ws -->
</head>

<body class="" onload="setWs()">
  <div class="wrapper ">
    <%- include("../partials/sidebar-analytics") %>
      <div class="main-panel">
        <%- include("../partials/navbar") %>
          <div class="content">
            <div class="container-fluid">
              <table id="fis" class="display" style="width:100%">
                <thead>
                  <tr>
                    <th>Sets</th>
                    <th>Support</th>
                    <th>Support Count</th>
                  </tr>
                </thead>
                <tbody>
                  <% fis.forEach(e => { %>
                  <tr>
                    <td><%= e.set %></td>
                    <td><%= e.support %></td>
                    <td><%= e.supportCount %></td>
                  </tr>
                  <% }); %>
                </tbody>
                <tfoot>
                  <tr>
                    <!-- <th>Sets</th>
                    <th>Support</th>
                    <th>Support Count</th> -->
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <%- include("../partials/footer") %>
      </div>
  </div>
  <%- include("../partials/dashcode") %>
</body>

</html>