<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>
    <!--ariel ws-->
    <script src="../../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script>
      var socket = io.connect();
      function setWs() {
        socket.on('newdata', function (msg) {
          var element = document.getElementById(msg.District);
          element.innerText = msg.value;
        })
      }
    </script>
    <!--ariel ws -->
</head>

<body class="" onload="setWs()">
  <div class="wrapper ">
    <%- include("../partials/sidebar-dashboard") %>
      <div class="main-panel">
        <%- include("../partials/navbar") %>
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <!--start-->
                <% for(const i in status){ %>
                  <%- include("../partials/card",status[i]); %>
                <% }; %>
                      <!--end-->
              </div>
              <div class="row">
                <%- include("../partials/taskscard") %>
              </div>
            </div>
          </div>
          <%- include("../partials/footer") %>
      </div>
  </div>
  <%- include("../partials/dashcode") %>
</body>

</html>